name: CI Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        include:
            # Linux: native x86_64 build (runs on the standard Linux runs-on)
          - os: linux-intel
            runs-on: ubuntu-latest
            # Linux: native aarch64 build (using the native aarch64 runs-on)
          - os: linux-arm
            runs-on: ubuntu-22.04-arm
            # macOS: native x86_64 build
          - os: macos-intel
            runs-on: macos-15-intel
            # macOS: native arm64 build
          - os: macos-arm
            runs-on: macos-15
            # Windows: native x86_64 MSVC build
          - os: windows-intel
            runs-on: windows-latest    
            # emscripten: build wasm on linux
          - os: emscripten
            runs-on: ubuntu-latest
      fail-fast: false
    runs-on: ${{ matrix.runs-on }}
    name: Build cmake natively for ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Optionally setup emscripten
        if: ${{ contains(matrix.os, 'emscripten') }}
        uses: mymindstorm/setup-emsdk@v14
      
      - name: Configure CMake Normally
        if: ${{ !contains(matrix.os, 'emscripten') }}
        run: cmake -B build -S . -G Ninja -DBUILD_TESTING=on -DBUILD_EXECUTABLES=ON 
      
      - name: Configure CMake Emscripten
        if: ${{ contains(matrix.os, 'emscripten') }}
        run: emcmake cmake -B build -S . -G Ninja -DBUILD_TESTING=on
      
      - name: Build with CMake
        run: cmake --build build --parallel 4 --config Release

      - name: Show properties of the build folder
        shell: bash
        run: ls -lahtr ./build

      - name: Upload Shared Library Files
        uses: actions/upload-artifact@v4
        with:
          name: cspice-shared-lib-${{ matrix.os }}-${{ strategy.job-index }}
          path: |
            ./build/*.so
            ./build/*.dylib
            ./build/*.wasm
            ./build/*.dll

      - name: Run Tests on Windows
        if: ${{ contains(matrix.os, 'windows') }}
        run: |
          cd build
          ./test_cspice.exe
          ./version.exe
      
      - name: Run Tests on non-Windows, non-emscripten
        if:  ${{ !contains(matrix.os, 'windows') && !contains(matrix.os, 'emscripten') }}
        run: |
          cd build
          ./test_cspice
          ./version

      - name: Run Tests on Emscripten
        if:  ${{ contains(matrix.os, 'emscripten') }}
        run: |
          cd build
          node ./test_cspice.js